/* cocktail.css */

.cocktail-container {
    text-align: center;
}

.cocktail-banner {
    background: linear-gradient(to right, #ffffff, #ffffff, #ffffff),
                linear-gradient(to right, var(--color1, #000), var(--color2, #000), var(--color3, #000));
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.cocktail-image {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.cocktail-palette {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.cocktail-palette-item {
    margin: 0 10px;
    color: #fff;
}
